run = "npm start"
entrypoint = "index.js" # Assure-toi que c'est bien index.js
modules = ["nodejs-20"]

[nix]
channel = "stable-23_11"

[[ports]]
localPort = 8080
externalPort = 8080

[deployment]
run = "npm start"
build = "npm install"